@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Cormorant/Cormorant-Light.ttf") format("TrueType");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cormorant/Cormorant-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Cormorant/Cormorant-Medium.ttf") format("TrueType");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Cormorant/Cormorant-SemiBold.ttf") format("TrueType");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Cormorant/Cormorant-Bold.ttf") format("TrueType");
}
